html(lang="en-us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Oh dear! | ShiftBear
    meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0")
    meta(name="keywords", content="")
    meta(name="description", content="Bespoke web development and consultancy. Looking to create a new website or web application? Maybe you want to get a kickstart on that new project you've been thinking about? Look no further, contact hello@shiftbear.com")
    link(rel="stylesheet", href='/css/lodge.min.css')
  body
    main.content
      include logos/construction.svg
      h1 Oh dear!
      p Looks like the bears haven't made that yet.

    footer
      Copyright &copy; <a href="http://www.shiftbear.com">Shift Bear Ltd.</a> 2014 - 2017. All rights reserved<br/>
      Registered in England and Wales with company number 8859700<br/>
      First Floor, Telecom House, 125-135 Preston Road, Brighton, England, BN1 6AF
