extends layout-blocks/layout
block content
  main.content
    include logos/badge.svg
    p Be(ar)spoke development and consultancy<br>We make awesome things for awesome people!
    p <a href="mailto:hello@shiftbear.com?subject=Hello">hello@shiftbear.com</a>
  footer
    Copyright &copy; <a href="http://www.shiftbear.com">Shift Bear Ltd.</a> 2014 - 2018. All rights reserved<br/>
    Registered in England and Wales with company number 8859700<br/>
    First Floor, Telecom House, 125-135 Preston Road, Brighton, England, BN1 6AF
