*
  box-sizing border-box

body
  padding 0 0 0 0
  margin 0 0 0 0
  font-family 'Roboto', sans-serif;
  text-align center
  background-color rgba(0, 0, 0, .75)
  color #fafafa
  padding 30px

a
  text-decoration none
  color #e74c3c

.banner
  margin 0
  padding 20px
  font-size 2rem
  text-transform uppercase
  &__letter:nth-child(odd)
    color yellow
  &__letter:nth-child(even)
    color grey

footer
  font-weight 300
  padding 40px 20px
  text-align center
  font-size .75rem
  opacity .5

#constructionLogo
  max-width 30%
  margin 40px auto
  border 10px inset grey
  border-radius 100%
  overflow hidden
  position relative
  background linear-gradient(40deg, black, yellow)
  @media(max-width 320px)
    max-width 80%
    margin 20px auto

#eyes
  transform-origin 425px 630px
  animation blink 10s infinite linear

@keyframes blink
  9%
    transform scaleY(1)
  10%
    transform scaleY(0)
  11%
    transform scaleY(1)
  12%
    transform scaleY(0)
  13%
    transform scaleY(1)
