@import 'base';

*
  box-sizing border-box

body
  padding 0 0 0 0
  margin 0 0 0 0
  font-family 'Roboto', sans-serif;
  text-align center
  background-color #111
  background-color rgba(0, 0, 0, .75)

a
  text-decoration none
  color #e74c3c

.content
  background-color #eee
  padding 30px

footer
  @media(max-width: 320px)
    position fixed
  color #fafafa
  bottom 0
  left 0
  right 0
  font-weight 300
  padding 30px 20px
  text-align center

img
  max-width 50%
  max-height 500px
  max-height 80vh
  margin 40px auto
